# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Flask
instance/
.webassets-cache
.env

# Project specific
static/uploads/*
!static/uploads/.gitkeep
exports/*
!exports/.gitkeep

# OS
.DS_Store
Thumbs.db
